.clients {
  font-family: 'Inter', sans-serif;
  padding: 20px;
  margin: auto;
  justify-content: center;
  text-align: center;
  background-color: #E6E6FA;
  border-radius: 10px;
  max-width: 190vh;
  
    h1 {
    
      font-size: 2rem;
    }
  
  }
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.clients-page {
  font-family: 'Inter', sans-serif;
  padding: 20px;
  margin: auto;
  background-color: #E6E6FA;
  border-radius: 10px;
  max-width: 190vh;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;

  input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    font-size: 14px;
    width: 100%;
  }
}

.add-btn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    background: #45a045;
  }
}


.client-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.client-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .details {
    font-size: 14px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.edit-btn, .delete-btn {
  background: linear-gradient(135deg, #747794, #6a5acd);
  padding: 7px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.3s;

  &:hover {
    opacity: 0.9;
  }
}

.filter-input, .input-select, .date-input-wrapper {
  padding: 10px;
  border: 2px solid #b3a3d5;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 50vh;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}