/* src/styles/global.scss */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Belanosima:wght@400;600;700&family=Caveat:wght@400..700&family=Knewave&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Yeseva+One&display=swap');
body {
    margin: 0;
    font-family:  "Roboto", serif;;
    background-color:#2b2d42;
  }
  
  

  
 